# Omitir archivos binarios de C/C++
*.o
*.out
*.exe
*.bin
*.elf

# Omitir ejecutables sin extensión (Linux/macOS)
a.out

# Omitir archivos compilados de Java
*.class
*.jar
*.war
*.ear

#Ignore compiled files from  viscode 
.vscode

myPrograma*

