# Avoid Compiled files and Binaries  C/C++
*.o
*.out
*.exe
*.bin
*.elf

#Exclude files without extension  (Linux/macOS)
a.out

# Deny Compiled files from the Java Virtual Machine as any bytecode 
*.class
*.jar
*.war
*.ear

#Ignore compiled files from  viscode 
.vscode/
#Deny .vscode Folder .

myPrograma*

